
.workarea{
  background-color: #cdccce;
  width:100%;
  height: 662px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.area{
  width:250px;
  height:auto;
  
  img{
    width: 300px;
    
  }
}
.box{
  width:100px;
  height:100px;
  position: absolute;
  background-color: #ccc;
}
.menu-card{
  width: 340px;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: #fff;
  border-radius: 0;
  overflow: hidden;
}